<h1>Hello World</h1>

<%= link_to "Create a new game", new_game_path %>



<section>
<% if @open_games.present? %>
<h4> Open Games</h4>
<% end %> 
<ul>
  <% @open_games.each do |game| %>
  <li class='list-item'>
    <h5><%= link_to game_name, game_path(game) %></h5>

    <p>
    <%= user_email_from_id(game.white_player_id) %>
    vs.
      <%= simple_form_for game, :method => :put do |f| %>
      <%= f.input :black_player_id, :as => :hidden, :input_html => { :value => current_player_id} %>
      <%= f.submit 'Join Game' %>
      <% end %>
    </p>
  </li>
  <% end %>
</ul>
</section>


